@import "tailwindcss";
@import "tw-animate-css";
@import "./assets/theme.css";

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    margin: 0;
    letter-spacing: var(--tracking-normal);
  }
  h1 {
    @apply text-3xl font-semibold tracking-tight font-sans;
  }
  h2 {
    @apply text-2xl font-semibold tracking-tight font-sans;
  }
  h3 {
    @apply text-xl font-medium tracking-tight font-sans;
  }
  h4 {
    @apply text-lg font-medium tracking-tight font-sans;
  }
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2")
    format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/ibmplexmono/v19/-F63fjptAgt5VM-kVkqdyU8n5igy1MCzb9s.woff2")
    format("woff2");
}
